header {
    background-color: white;
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #A1A1A1;
    height: 4rem;
}