header {
    background-color: white;
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px #000;
    height: 4rem;
}
.home {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 700;
    font-size: 1.5rem;
}