.restorantImg {
    height: 30vh;
    width: 100%;
    & img {
        height: 120%;
        width: 100%;
        object-fit: cover;
    }
}
.menu {
    position: relative;
    background-color: #F6F6F6;
    border-radius: 2rem 2rem 0 0;
    padding:1rem;
    @media screen and (min-width : 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width : 1200px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    & h1 {
        font-family: "Shrikhand", cursive;
        font-size: 1.8rem;
    }
    &Layout {
        @media screen and (min-width : 600px) {
            width: 50%;
        }
        @media screen and (min-width : 1200px) {
            width: calc(33% - 16px);
        }
    }
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        & i {
            font-size: 1.8rem;
            margin: .5rem;
        }
    }
    &__heading {
        text-transform: uppercase;
        margin: .5rem 0;
        &Underline {
            height: 3px;
            width: 40px;
            background-color: $color-tertiary;
        }
    }
    &__card { 
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin: 20px 0;
        border-radius: 20px;
        box-shadow: 0 0 5px #ACACAC;
        overflow: hidden;
        position: relative;
        & h3, p {
            margin: 0;
        }
        &--dish {
            padding: 1rem;
            flex:1;
            white-space: nowrap;
            overflow: hidden;
            &>p , h3{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

        }
        &--price {
            display: flex;
            align-items: flex-end;
            padding: 1rem;
        }
        &--check  {
            position: absolute;
            right: -4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 100%;
            background-color: $color-tertiary;
            color: white;
            font-size: 1.3rem;
            border-radius: 0 20px 20px 0;
            transition: .5s;
            &>*{
                transform: rotate(-270deg);
                transition: .5s .2s;
            }
        }
    }
}
.menu__cardDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    transition: width .5s;
    &:hover {
        width: calc(100% - 64px);
        &+ .menu__card--check {
            transform: translateX(-64px) ;
        }
        &+ .menu__card--check>* {
           transform: rotate(0deg);
        }
    }
    
   
}
/** Menu animations **/
.menu__load {
    &1 {
        animation: menuLoad 800ms;
        animation-fill-mode: both;
    }
    &2 {
        animation: menuLoad 800ms 400ms;
        animation-fill-mode: both;
    }
    &3 {
        animation: menuLoad 800ms 800ms;
        animation-fill-mode: both;
    }
}



.menu__card--load {
    &1 {
        animation: menuLoad 800ms ;
        animation-fill-mode: both;
    }
    &2 {
        animation: menuLoad 800ms 200ms;
        animation-fill-mode: both;
    }
    &3 {
        animation: menuLoad 800ms 400ms;
        animation-fill-mode: both;
    }
    &4 {
        animation: menuLoad 800ms ;
        animation-fill-mode: both;
    }
}



@keyframes menuLoad {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}