.restorant-preview{
    background-color: #F6F6F6 ;
    padding: 20px;
    &Card {
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        background-color: white;
        box-shadow:  0 5px 10px #ACACAC;
        margin: 1rem;
        position: relative;

        &__description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 1rem;
            
            & h3 {
                margin: 0 ;
            }
            & p {
                margin: 0;
            }
        }
        &__imgWrap {
            width: 100%;
            height: 11rem;
            display: flex;
            align-items: baseline;
            overflow: hidden;
            
        }
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
        }
        &__newTag {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: $color-tertiary;
            font-weight: 700;
            color: darken($color-tertiary, $amount: 35%);
            padding: 5px 10px;
            margin: 0;
            box-shadow: 0 0 5px #666;
        }
    }
}

.likeIcon {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    & .far:hover{
        opacity: 0;
    }

}
.iconEmpty {
    opacity: 1;
    transition: .3s;
    &:hover {
        opacity: 0;
    }
}
.iconFilled {
    position: absolute;
    right: 0;
    opacity: 0;
    transition: .3s;
    margin: 0;
    &:hover {
        opacity: 1;
        background: $gradient;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;

    }
}