/* Vendors*/
/* Base */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;900&family=Roboto:wght@100;400;700;900&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* Font family */
/* Utils */
/* Layout */
header {
  background-color: white;
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px #000;
  height: 4rem;
  z-index: 1;
}

.home {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 700;
  font-size: 1.5rem;
}

footer {
  background-color: #353535;
  padding: 20px;
  color: white;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  margin: 10px 0;
}
footer li i {
  margin-right: 1rem;
}
footer h2 {
  font-family: "Shrikhand", cursive;
}

.restorant-preview {
  background-color: #F6F6F6;
  padding: 20px;
}
.restorant-previewCard {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 5px 10px #ACACAC;
  margin: 1rem;
  position: relative;
}
.restorant-previewCard__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
.restorant-previewCard__description h3 {
  margin: 0;
}
.restorant-previewCard__description p {
  margin: 0;
}
.restorant-previewCard__imgWrap {
  width: 100%;
  height: 11rem;
  display: flex;
  align-items: baseline;
  overflow: hidden;
}
.restorant-previewCard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restorant-previewCard__newTag {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  font-weight: 700;
  color: #2c9c81;
  padding: 5px 10px;
  margin: 0;
  box-shadow: 0 0 5px #666;
}

.likeIcon {
  position: relative;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  transition: 0.5s;
  z-index: 1;
}
.likeIcon:hover .iconFilled {
  opacity: 1;
}
.likeIcon:hover .far {
  opacity: 0;
}

.iconFilled {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

.restorantImg {
  height: 25rem;
  width: 100%;
}
.restorantImg img {
  width: 100%;
}

.menu {
  position: relative;
  z-index: 10;
  background-color: #F6F6F6;
  border-radius: 2rem;
  padding: 1rem;
}
.menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
}
.menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__title i {
  font-size: 1.8rem;
  margin: 0.5rem;
}
.menu__heading {
  text-transform: uppercase;
  margin: 0.5rem 0;
}
.menu__headingUnderline {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}
.menu__card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0 0 5px #ACACAC;
  overflow: hidden;
  position: relative;
}
.menu__card h3, .menu__card p {
  margin: 0;
}
.menu__card--dish {
  padding: 1rem;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}
.menu__card--dish > p, .menu__card--dish h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card--price {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}
.menu__card--check {
  position: absolute;
  right: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 100%;
  background-color: #99E2D0;
  color: white;
  font-size: 1.3rem;
  border-radius: 0 20px 20px 0;
  transition: 0.5s;
}
.menu__card--check > * {
  transform: rotate(-270deg);
  transition: 0.5s 0.2s;
}

.menu__cardDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  transition: width 0.5s;
}
.menu__cardDescription:hover {
  width: calc(100% - 64px);
}
.menu__cardDescription:hover + .menu__card--check {
  transform: translateX(-64px);
}
.menu__cardDescription:hover + .menu__card--check > * {
  transform: rotate(0deg);
}

/** Menu animations **/
.menu__load1 {
  animation: menuLoad 800ms;
  animation-fill-mode: both;
}
.menu__load2 {
  animation: menuLoad 800ms 400ms;
  animation-fill-mode: both;
}
.menu__load3 {
  animation: menuLoad 800ms 800ms;
  animation-fill-mode: both;
}

.menu__card--load1 {
  animation: menuLoad 800ms;
  animation-fill-mode: both;
}
.menu__card--load2 {
  animation: menuLoad 800ms 200ms;
  animation-fill-mode: both;
}
.menu__card--load3 {
  animation: menuLoad 800ms 400ms;
  animation-fill-mode: both;
}
.menu__card--load4 {
  animation: menuLoad 800ms;
  animation-fill-mode: both;
}

@keyframes menuLoad {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* pages */
.location {
  background-color: #EAEAEA;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  z-index: 0;
}
.location h3 {
  margin: 0 1rem;
}

.intro {
  background-color: #F6F6F6;
  text-align: center;
  padding: 40px;
}
.intro h2 {
  padding: 0 1rem;
  margin: 0;
}
.intro p {
  color: #353535;
}

.explanation {
  padding: 20px;
}
.explanationSteps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 5px 10px #ACACAC;
  margin: 2rem 0;
}
.explanationSteps__number {
  position: relative;
  left: -20px;
  height: 24px;
  width: 24px;
  background-color: #9356DC;
  color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explanationSteps:hover {
  background-color: #f2eafb;
}
.explanationSteps i {
  position: relative;
  left: -20px;
  color: #666;
  margin: 1rem;
}
.explanationSteps p {
  font-weight: 700;
  position: relative;
  left: -20px;
}

/* Components*/
.btnGradient {
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  font-weight: 700;
  padding: 1rem;
  border-radius: 2rem;
  border: 0;
  margin: auto;
  box-shadow: 0 5px 10px #ACACAC;
  font-family: "Roboto", sans-serif;
}

.btnWrap {
  display: flex;
  justify-content: center;
}

/* Themes */

/*# sourceMappingURL=style.css.map */
