.btnGradient {
    background: $gradient;
    color:white;
    font-weight: 700;
    padding: 1rem;
    border-radius: 2rem;
    border: 0;
    margin: auto;
    box-shadow: 0 5px 10px #ACACAC;
    font-family: "Roboto", sans-serif;
}
.btnWrap {
    display: flex;
    justify-content: center;
}