.explanation {
    padding : 20px;
    @media screen and (min-width: 1200px) {
       & h2 {
           margin: 10px 0;
       }
    }
    &Steps {
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
        }
        &__card{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: calc(100% - 10px);
            background-color: #F6F6F6 ;
            border-radius: 20px;
            padding: 10px;
            box-shadow:  0 5px 10px #ACACAC;
            margin: 2rem 0 2rem 10px;
            &:hover {
                background-color: lighten($color-primary, 35%);
                &>i {
                    color: $color-primary;
                }
            }
            @media screen and (min-width: 1200px) {
                width: calc(33%);
                margin: 1rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        &__number {
            position: relative;
            left:-20px;
            height: 24px;
            width: 24px;
            background-color: $color-primary;
            color: white;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        & i {
            position: relative;
            left: -20px;
            color: #666;
            margin: 1rem;
        }
        & p {
            font-weight: 700;
            position: relative;
            left: -20px;
        }
    }
    
    
}